.commentline {
    border-left: 1px solid #eee;
    margin-left: 10px;
}
.commentreply {
    padding-left: 10px;
    
}

input[type=text]:focus {
    border: 2px solid #1BC5BD;
}

input[type=number]:focus {
    border: 2px solid #1BC5BD;
}

input[type=datetime-local]:focus {
    border: 2px solid #1BC5BD;
}

input[type=date]:focus {
    border: 2px solid #1BC5BD;
}

input[type=time]:focus {
    border: 2px solid #1BC5BD;
}
select.form-control:focus {
  border: 2px solid #1BC5BD !important;
}

select, option {
    background-color: #fff;
}
body {
    font-family: Arial,sans-serif;
    font-size: 30px;
}

select option:checked,
select option:hover {
  background: #fff !important;
}
