/*navbar start*/
.site-header a
{
  color:#FFFFFF;
}
/*navbar start*/
/*home start*/
.section{
  background-color: white;
  text-align: center;
  color:#404040;
}
.section-1-container{
  background-color: white;
  text-align: center;
  color:#404040;
}
.umpevents {
    margin: 0px 10px 20px 10px;
    background: #f6f6f6;
    height: 95px;
    border: 1px solid #eaeaea;
}
.eventtitle {
    color: #15a195;
    padding: 10px;
    padding-left : 50px;
    margin: 0px 10px 10px 10px;
}
.eventdate {
    float: left;
    padding: 5px;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    width: 40px;
    height: 40px;
    margin-left: 3px;
    margin-top: 3px;
}
.eventdate-day {
    font-size: 1.5em;
    font-weight: bold;
    color: #15a195;
}
.eventdate-month {
    font-size: 0.9em;
    color: #15a195;
}
a {
    color: #333333;
    text-decoration: none;
    outline: none;
}
.block-content {
    text-align: left;
}
.news-panel-date {
    color: #15a195;
    text-align: left;
}
.news-panel {
    margin: 0px 10px 10px 10px;
    height: 82px;
}
/*home end*/

